*{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
}
.navigation{
    display:flex;
    background-color: floralwhite;
    width:100%;
    justify-content: space-around;
    border-bottom: 3px solid maroon;
}
.navigation a{
    text-decoration:none;
    color:black;
    padding:13px 13px;
    font-size: 24px;
    font-weight:300;
}
.navigation a:hover{
    background-color: maroon;
    color:white;
    transition: .5s linear;
}
.hero{
    position: relative;
    background: linear-gradient(to right,lightgreen,maroon);
    height:300px;
}
.caption{
    position: absolute;
    top:30%;
    left:30%;
    background: rgba(0,0,0,0.2);
    width:40%;
    height:auto;
    text-align:center;
    color:whitesmoke;
    font-size: 26px;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.col1{
    flex:25%;
    height:300px;
    background: whitesmoke;
}
.col2{
    flex:25%;
    height:300px;
    background: rgba(0,0,255,0.1);
    
}
.f{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: column;
    background: rgba(0,0,0,0.1);
    width:50%;
    height:70%;
    position: relative;
    top:10px;
    left:25%;
    
}

input[type="text"]{
    height:28px;
    width:50%;
  padding:5px 10px;
    border:none;
  border-radius: 3px;
    outline:none;
}
input[type="number"]{
     height:28px;
    width:50%;
    padding:5px 10px;
    border:none;
  border-radius: 3px;
    outline:none;
}
input[type="date"]{
    height:28px;
    width:50%;
    border:none;
  border-radius: 3px;
    outline:none;
    //overflow:hidden;
}


